blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links ul {
  list-style-type: none;
  padding-left: 0px;
  width: 200px;
}

#main {
  width: 756px;
}

.align {
  display: inline-block;
  vertical-align: middle;
}

body {
  width: 960px;
}

img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}
