blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links ul {
  list-style-type: none;
  padding-left: 0px;
  min-width: 20%;
}

#main {
  width: 50%;
}

.align {
  display: inline-block;
  vertical-align: middle;
}

body {
  max-width: 960px;
}

img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  #external-links {
    font-size: 10px;
  }
}

@media screen and (max-width: 500px) {
  body {
    background-color: hotpink;
  }
}
