#contact-info {
	font-size: .8em;
}
.job {
	background-color: #e9e5dc;
	border-radius: 15px;
    padding: 5px;
    width: 600px;
    height: 150px;
    bottom-margin: 5px;
}
.lists {
	font-size: .8em;
}
a:hover {
	color: pink;
}
section > h2 {
	font-family: Courier;
}